marshmallow
sqlalchemy
wheel
flask
Flask-SQLAlchemy
python-abc
python-dotenv
psycopg2-binary
requests
exceptiongroup
pytest
pytest-cov
pytest-mock
pytest-env
bcrypt
google-cloud-pubsub
Flask[async]
Flask-Testing